/* основний колір тексту #212121 */

/* другорядний колір тексту #757575 */
/* колір тексту на темному фоні #FFFFFF */
/* другорядний колір на темному фоні rgba(255, 255, 255, 0.6); */
/* лого, текст посилань і ховера #2196F3 */
body {
  color: #212121;
  font-family: Roboto, sans-serif;
}
.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #2196f3;
  letter-spacing: 0.03em;
}
.logo-dark {
  color: #000000;
}
.logo-light {
  color: #ffffff;
}

.site-nav {
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav a:hover,
.site-nav a:focus {
  color: #2196f3;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}
.site-nav .link {
  color: #212121;
}
.contacts a {
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.contacts a:hover,
.contacts a:focus {
  color: #2196f3;
}
.header-h1 {
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.page-header {
  background-color: #ffffff;
}
.hero {
  background-color: #2f303a;
}
.button {
  color: #ffffff;
  background-color: #2196f3;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
}
.header-advantages {
  display: none;
}

.advantages-header {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.section .p {
  color: #757575;
}
.advantages-text {
  color: #757575;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.header-works {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.team {
  background-color: #f5f4fa;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.footer {
  background-color: #2f303a;
}
.address {
  color: #ffffff;
}
.mail,
.tel {
  color: rgba(255, 255, 255, 0.6);
}

.mail:hover,
.tel:hover {
  color: #2196f3;
}
.team-link p {
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.team-link h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
